---

const { tool } = Astro.props;
---

<script is:inline>
    function removeMe(el) {
        const div = document.createElement('div');
        div.style.width = '100px';
        el.replaceWith(div);
    }
</script>

<div class="mb-10 text-sm border-b bborder-b-slate-50 pb-5">
    <div class="flex justify-between">
        <div class="flex">
            <img src={tool.data.thumbnail} 
                alt={`Logo thumbnail for ${tool.data.title}`}
                width="80"
                height="auto"
                class="mr-5 min-w-[80px] max-h-[80px] max-w-[80px]"
                onerror="removeMe(this)"
                loading="lazy"
                />

            <div>
                <p class="text-2xl mb-2">{tool.data.title}</p>
                <p class="max-w-[500px]">{tool.data.snippet}</p>

                <p class="mt-5">Tags: {tool.data.tags.join(', ')}</p>
            </div>
        </div>

        {
            tool.body && (
                <div class="whitespace-pre-line text-right">
                    <p>Free Offer:</p>

                    <div>
                        {tool.body}
                    </div>
                </div>
            )
        }
    </div>


    <div class="mt-2 flex space-x-5 justify-end">
        <a href="">Save</a>
        <a target="_blank" rel="noopener nofollow" href={`https://github.com/hilmanski/freeStuffDev/edit/main/content/stuff/${tool.slug}.md`}>Edit</a>
        <a href={`/alternative-to/${tool.slug}`}>Alternatives</a>
        <a href={`${tool.data.link}?utm_source=freestuffdev`}>Visit</a>
    </div>
</div>