---
import '../styles/main.sass'
import { ViewTransitions } from 'astro:transitions';
import Sidebar from './Sidebar.astro'


export interface Props {
    title: string;
    description: string;
	noIndex?: boolean;
}

const {
	title,
	description,
	noIndex = false
} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		
        <title>{title}</title>
		<meta name="description" content={description} property="og:description">

		{
			noIndex && (
				<meta name="robots" content="noindex" />
			)
		}
		
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@fullofdev" />
		<meta name="twitter:creator" content="@fullofdev" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/freestuffdev-logo.webp"  /> 

		<ViewTransitions />
    </head>

<body>
	
	<script is:inline>
		// =====================
		// Save features
		// =====================
		const FAV_KEY_NAME = "favoritedItems";

		function getObjectLS(key) {
			return JSON.parse(localStorage.getItem(key))
		}

		function setObjectLS(key, val) {
			localStorage.setItem(key, JSON.stringify(val));
		}

		function save(event, link) {
			event.preventDefault();

			const favorites = getObjectLS(FAV_KEY_NAME) ? getObjectLS(FAV_KEY_NAME) : [];
			favorites.push(link);
			const uniqueFav = [...new Set(favorites)];
			setObjectLS(FAV_KEY_NAME, uniqueFav);

			// change text to red
			event.target.innerText = "Saved!";
			event.target.style.color = "#FE4032";
		}

		function unsave(event, link){
			event.preventDefault();

			const favorites = getObjectLS(FAV_KEY_NAME);
			const newFav = favorites.filter(fav => fav !== link);
			setObjectLS(FAV_KEY_NAME, newFav);

			// Find parent .tools-list add hidden class
			const parent = event.target.closest('.cards');
			parent.classList.add('hidden');
		}

	</script>

	<div class="flex justify-start">
		<Sidebar />

		<main class="mx-3">
			<section class="flex justify-end space-x-3 mb-5">
				<a target="_blank" href="https://github.com/hilmanski/freeStuffDev/">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
				</a>

				<a target="_blank" href="https://twitter.com/fullofdev">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" /></svg>
				</a>

				<a href="/about">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-square-rounded" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9h.01" /><path d="M11 12h1v4h1" /><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /></svg>
				</a>
			</section>

			<slot />
		</main>
	</div>

	<script async defer src="https://sa-api.hilman.space/latest.js"></script><noscript><img src="https://sa-api.hilman.space/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"></noscript>
</body>
</html>