---
import '../styles/main.sass'
import { ViewTransitions } from 'astro:transitions';
import Sidebar from './Sidebar.astro';
import { FAV_KEY_NAME } from '../utils/constants';

export interface Props {
    title: string;
    description: string;
	noIndex?: boolean;
}

const {
	title,
	description,
	noIndex = false
} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		
        <title>{title}</title>
		<meta name="description" content={description} property="og:description">

		{
			noIndex && (
				<meta name="robots" content="noindex" />
			)
		}
		
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@fullofdev" />
		<meta name="twitter:creator" content="@fullofdev" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={} /> 

		<ViewTransitions />
    </head>

<body>
	
	<script is:inline>
		// =====================
		// Save features
		// =====================
		const FAV_KEY_NAME = "favoritedItems";

		function getObjectLS(key) {
			return JSON.parse(localStorage.getItem(key))
		}

		function setObjectLS(key, val) {
			localStorage.setItem(key, JSON.stringify(val));
		}

		function save(event, link) {
			event.preventDefault();

			const favorites = getObjectLS(FAV_KEY_NAME) ? getObjectLS(FAV_KEY_NAME) : [];
			favorites.push(link);
			const uniqueFav = [...new Set(favorites)];
			setObjectLS(FAV_KEY_NAME, uniqueFav);

			// change text to red
			event.target.innerText = "Saved!";
			event.target.style.color = "#FE4032";
		}

		function unsave(event, link){
			event.preventDefault();

			const favorites = getObjectLS(FAV_KEY_NAME);
			const newFav = favorites.filter(fav => fav !== link);
			setObjectLS(FAV_KEY_NAME, newFav);

			// Find parent .tools-list add hidden class
			const parent = event.target.closest('.tools-list');
			parent.classList.add('hidden');
		}

	</script>

	<div class="">
		<Sidebar />

		<main>
			<slot />
		</main>
	</div>


</body>
</html>